.nav {
	float:right;
}


.box1 {
	background-color:DarkRed;
}

.main {
	color:white;
	text-align:center;	
}

.header {
	padding:250px;
}

.box2 {
	background-color:grey;
}


.L {
	color:white;
	display:inline;	
	margin-left:5px;
	text-decoration:none;
}

.container {
	display:flex;
} 


.img {
	background-color:grey;
	padding:75px;
	
}

.img2 {
	background-color:grey;
	padding:20px;
	margin:15px;
}

.box3 {
	background-color:Gainsboro;
	flex:30%;
	padding:5px;	
	
}

.box4 {
	flex:70%;
	padding:5px;	
}

.box5 {
	background-color:WhiteSmoke;
}

.footer {
	text-align:center;
	padding:20px;	
	font-size:20px;
}


